*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

*.swo
*.swp

# Ignore IDE
.idea

# Ignore bundler config
.bundle

#mac os
.DS_Store
._.DS_Store

.project
